{
  "RabbitMQ": {
    "Default": {
      "Host": "",
      "Port": 5672,
      "VirtualHost": "",
      "Username": "",
      "Password": "",
      "Queues": {
        "Lookup": {
          "Enabled": true,
          "QueueName": "PARAM.LOOKUP",
          "Prefetch": 10
        }
      }
    }
  },
  "PostgreSQL": {
    "Host": "",
    "Port": "",
    "Username": "",
    "Password": "",
    "Database": "",
    "Schema": "",
    "SslMode": ""
  },
  "Redis": {
    "Host": "",
    "Port": "",
    "Password": "",
    "Database": 0,
    "UseSsl": false,
    "SslHost": ""
  },
  "ElasticSearch": {
    "BaseUrl": "",
    "Username": "",
    "Password": "",
    "Index": ""
  },
  "Application": {
    "RedisKeyLookup": "LPPLOOKUP"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning"
    }
  },
  "Serilog": {
    "Using": [ "Serilog.Sinks.Console", "Serilog.Sinks.File" ],
    "MinimumLevel": "Information",
    "WriteTo": [
      {
        "Name": "Console",
        "Args": {
          "outputTemplate": "[{Timestamp:yyyy-MM-dd HH:mm:ss}] [{Level:u3}] {Message:lj}{NewLine}{Exception}"
        }
      },
      {
        "Name": "File",
        "Args": {
          "path": "Logs/worker-.log",
          "rollingInterval": "Day",
          "fileSizeLimitBytes": 314572800,
          "rollOnFileSizeLimit": true,
          "retainedFileCountLimit": 30,
          "outputTemplate": "[{Timestamp:yyyy-MM-dd HH:mm:ss} {Level:u3}] {Message:lj}{NewLine}{Exception}"
        }
      }
    ],
    "Enrich": [ "FromLogContext" ]
  }
}